@import url("https://fonts.googleapis.com/css?family=Abel");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  font-family: Abel, Arial, Verdana, sans-serif;
  background-color: #292929;
  background: url("/bg.png") no-repeat center center fixed;
}

*,
input,
select,
textarea,
option,
button {
  outline: none !important;
}
